.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 9.1rem;
  padding-left: 18.2rem;
}

.signupButton,
.loginButton {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  border: none;
  background: none;
  cursor: pointer;
}

.headerButtons {
  display: flex;
  gap: 3.6rem;
}

.signupButton {
  background: #ff7757;
  border: 1px solid #ff7757;
  border-radius: 1.2rem;
  padding: 1rem 2.2rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1440px) {
  .headerWrapper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 1152px) {
  .headerWrapper {
    padding: 2rem;
  }

  .headerButtons {
    gap: 2rem;
  }

  .loginButton,
  .signupButton {
    font-size: 1.6rem;
  }

  .signupButton {
    padding: 0.6rem 2.2rem;
  }
}
