.slick-prev,
.slick-next {
  background: #fff !important;
}

.slick-dots li button:before {
  top: 1.2rem;
}

@media screen and (min-width: 768px) {
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    display: flex;
    gap: 2rem;
  }

  .slick-prev::before,
  .slick-next::before {
    color: #ff7757 !important;
    font-size: 2.6rem;
  }
}
