.infoWrapper {
  display: inline-block;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.title {
  color: #172432;
  font-family: "Playfair Display";
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  margin-top: 1.4rem;
  border-bottom: 1.8px solid #ff7757;
}

.description {
  color: #3d3f43;
  font-family: Rubik;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1152px) {
  .title {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 3.8rem;
  }

  .description {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 475px) {
  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1.4rem;
  }
}
